* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
body {
    background-color: #ECF39E;
}
html {
    font-size: 62.5%;
}
/*
/* ------------------------ RESPONSIVE: 20" ------------------------ */
@media (max-width: 1680px) {
    html {
        font-size: 60%;
    }

    .header img {
        height: 3.8rem;
        width: 13rem;
        margin-left: 2.5rem;
    }

    .header .main-meni li {
        margin-right: 3.5rem; 
    }

    .header .main-meni li a {
        font-size: 1.6rem;
        margin-right: 2rem;
    }

    .hero .h-section h1 {
        font-size: 4.5rem;
    }

    .hero .h-section p {
        font-size: 1.6rem;
    }

    .pricing-section .main-num {
        font-size: 5rem;
    }
}

/* ------------------------ RESPONSIVE: 18" ------------------------ */
@media (max-width: 1600px) {
    html {
        font-size: 58%;
    }

    .header img {
        height: 3.6rem;
        width: 12.5rem;
        margin-left: 2.3rem;
    }

    .header .main-meni li {
        margin-right: 3rem;
    }

    .header .main-meni li a {
        font-size: 1.5rem;
        margin-right: 1.7rem;
    }

    .hero .h-section h1 {
        font-size: 4.3rem;
    }

    .hero .h-section p {
        font-size: 1.55rem;
    }

    .pricing-section .main-num {
        font-size: 4.8rem;
    }
}

/* ------------------------ RESPONSIVE: 16" ------------------------ */
@media (max-width: 1440px) {
    html {
        font-size: 54%;
    }

    .header img {
        height: 3.5rem;
        width: 12rem;
        margin-left: 2rem;
    }

    .header .main-meni li {
        margin-right: 2rem;
    }

    .header .main-meni li a {
        font-size: 1.4rem;
        margin-right: 1.5rem;
    }

    .hero .h-section h1 {
        font-size: 4rem;
    }

    .hero .h-section p {
        font-size: 1.5rem;
    }

    .pricing-section .main-num {
        font-size: 4.5rem;
    }
}

/* ------------------------ RESPONSIVE: 14" ------------------------ */
@media (max-width: 1366px) {
    html {
        font-size: 52%;
    }

    .header img {
        height: 3.3rem;
        width: 11rem;
        margin-left: 1.5rem;
    }

    .header .main-meni {
        justify-content: center;
        flex-wrap: wrap; 
        margin: 1rem 0;
    }

    .header .main-meni li {
        margin-right: 1rem;
        margin-bottom: 0.7rem;
    }

    .header .main-meni li a {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .hero .h-section h1 {
        font-size: 3.5rem;
    }

    .hero .h-section p {
        font-size: 1.4rem;
    }

    .pricing-section .main-num {
        font-size: 4rem;
    }

    .pricing-section .pricing-plan li {
        font-size: 1.1rem;
    }
}

 /* --------------------------header-------------------------- */
 .header {
    background-color: #90A955;
 }
.header img {
    height: 4rem;
    width: 15rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
}
.header .main-meni {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 1.5rem;
}
.header .main-meni li {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 5rem;
}
.header .main-meni li a{
    margin-right: 3rem;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1.8rem;
    text-shadow: 0.02rem 0.02rem 0rem rgba(255,255,255,0.6);
}
.header .main-meni li:last-child {
    margin-right: 3rem;
}
/* --------------------------header-end----------------------- */
/* -----------------------------hero-------------------------- */
.hero{
background-image: url('../all-images/1.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 40rem;
padding-bottom: 45rem;
}
.hero .h-section {
    color: #31572C;
    text-align: center;
}
.hero .h-section h1 {
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
    font-size: 5rem;
}
.hero .h-section p {
    font-size: 1.75rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.hero .h-section a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #4F772D;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1.3rem;
    border: 0.15rem solid #fff;
    transition: 0.3s;
}
.hero .h-section a:hover {
    color: #132A13;
    background-color: #ECF39E;
    border: 0.15rem solid #132A13;
    
}

/* ---------------------------hero-end------------------------ */
/* ---------------------------services------------------------ */
.services {
    background-image: url('../all-images/blurry1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #31572C;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.services h2 {
    font-size: 3.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 10rem;
}
.services h5, .services h4 {
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
}
.services h5 {
     font-size: 1.8rem;
}
.services h4 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.services img {
    height: 15rem;
    width: 15rem;
    margin: 2rem;
    max-width: 100%;
}
.services p {
    font-size: 2rem;
    padding-top: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
}
/* ---------------------------serv-end------------------------- */
/* ---------------------------aus-start------------------------ */
.about-us {
    background-image: url('../all-images/aus-photo.png' );
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    text-align: center;
    color: #ECF39E;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.about-us h5 {
    text-transform: uppercase;
    font-size: 1.8rem;
    text-shadow: 0.14rem 0.14rem 0.22rem rgba(0,0,0,0.6);
}
.about-us .aus h4 {
    font-size: 3.5rem;
    text-shadow: 0.17rem 0.17rem 0.22rem rgba(0,0,0,0.6);
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 7rem;
}
.about-us p {
    color: #ECF39E;
    font-size: 1.7rem;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.6);
}
/* ----------------------------aus-end------------------------- */
/* ---------------------------pap-start------------------------ */
.pricing-section {
 background-image: url('../all-images/blurry1.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 text-align: center;
 color: #4F772D;
 padding-top: 12rem;
 padding-bottom: 12rem;
 text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.1);
}
.pricing-section h5 {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}
.pricing-section h3 {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 1.5rem;
}
.pp-p {
    font-size: 1.8rem;
    padding-bottom: 10rem;   
}

/* -------------------------text-before------------------------ */
.pricing-section .pricing-plan {
    background-color: #90a955;
    color: #ECF39E;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.6);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    border: 0.1rem solid #132A13;
}
.pricing-section .pricing-plan img {
    vertical-align: middle;
    height: 15rem;
    width: 16rem;
    margin-bottom: 3rem;
}
.pricing-section .pricing-plan h4 {
    text-transform: uppercase;
    font-size: 2.2rem;
}
.pricing-section .pricing-plan p {
    font-size: 1.2rem;
}
.pricing-section .pricing-plan ul {
    list-style: none;
    padding: 1rem;
}
.pricing-section .pricing-plan li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #4F772D;
    font-size: 1.4rem;
}
.pricing-section .pricing-plan a {
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ECF39E;
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #ECF39E;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.pricing-section .pricing-plan a:hover {
    color: #4F772D;
    border: 0.1rem solid #4F772D;
    background-color: #ECF39E;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.2);
}
.pricing-section .pricing-plan .price {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 0.2rem dotted #4F772D;
    border-bottom: 0.2rem dotted #4F772D;
}
.dollar {
    font-size: 2rem;
}
.main-num {
    font-size: 6rem;
    font-style: italic;
}
.second-num {
    font-size: 1.6rem;
    position: relative;
    top: -3rem;
    font-style: italic;
}
.month {
    position: relative;
    font-size: 1.4rem;
    left: -2rem;
    font-style: italic;
}
/* ----------------------------pap-end------------------------- */
/* ----------------------------start-t------------------------- */
.testimonials-section {
    background-image: url('../all-images/ballon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #31572C;;
    padding-top: 12rem;
    padding-bottom: 12rem;
} 
.testimonials-section h5 { 
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
}
.testimonials-section h2 {
    font-size: 3.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(172,172,172,0.6);
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 10rem;
}
.testimonials-section .cards img {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    border: 0.1rem solid #ECF39E;
}
/* -----------------------------cards-------------------------- */
.testimonials-section .cards {
    color: #132A13;
    background-color: #90A955;
    border: 0.1rem solid #4F772D;
    border-radius: 3%;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.2);
}
.testimonials-section .cards i {
    font-size: 2.5rem;
    color: #ECF39E;
}
.testimonials-section .cards p {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 2rem;
}
.testimonials-section .cards hr {
margin-left: 3rem;
margin-right: 3rem;
}
.testimonials-section .cards h6 {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.afterh5 {
    margin-top: 3rem;
    padding: 1rem;
}
.testimonials-section h6 {
 font-size: 1.3rem;
 padding: 1rem;
 text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.2);
}
.testimonials-section .cards h6:hover {
    color: #ECF39E;
}
.testimonials-section .cards:hover {
    margin-top: -1rem;
}
/* ----------------------------tst-end------------------------- */
/* ----------------------------contact------------------------- */
.contact-section {
    background-image: url('../all-images/blurry1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #4F772D;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.2);
}
.contact-section h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}
.contact-section h5 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10rem;
}
.contact-section h4 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 0.1rem dotted rgba(3, 3, 3, 0.7);
}
.contact-section h3 {
    font-size: 1.7rem;
    margin-top: 1rem;
    text-align: left;
    padding-bottom: 1rem;
}
.contact-section p {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.contact-section a {
    text-decoration: none;
    text-align: left;
    color: #4F772D;
}
.contact-section form {
    background-color:transparent;
    color: #4F772D;
    border: 0.1rem solid #90a9559c;
    padding: 5rem;
    text-align: left;
    margin-top: -3rem;
}
.contact-section form textarea,
.contact-section form input,
.contact-section form button {
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 1rem;
    border: 0.0005rem solid rgba(0, 0, 0, 0.137);
    height: 4rem;
}
.contact-section form textarea {
    height: 8rem;
}
.contact-section form label {
    text-transform: uppercase;
    color: #31572C;
    font-size: 1.2rem;
    font-weight: bold;
}
.contact-section form button {
    background-color: transparent;
    border: 0.1rem solid #132A13;
    color: #4F772D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    transition: 0.3s;
}
.contact-section form button:hover {
    background-color: #90A955;
    color: #fff;
    border: 0.1rem solid #fff;
}
/* ----------------------------c-end------------------------- */
.footer{
    color: #fff;
    background-color: #90A955;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0.18rem 0.18rem 0.25rem rgba(0,0,0,0.2);
}

/* ----------------------------js-deo------------------------- */

/* Scroll reveal efekti */
.invisible {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-in-out;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

